.combat-weapons-margin {
    margin: 1rem 0rem;
}

.combat-title-margin {
    margin-top: 2rem;
}

.combat-stats-component-padding {
    padding-right: 1rem;
}

.combat-stats-component-font {
    font-size: 1.5rem;
}

.combat-stats-component-center {
    align-items: center;
}