.career-skill {
    max-height: 25px;
}

.skill-title {
    font-size: 1.7rem;
    white-space: nowrap;
    width: 15rem;
}

.skill-char {
    color: #656263;
    font-size: 1.7rem;
    text-align: center;
}