.skill-root {
    margin-top: 2rem;
}

.characteristics-bg {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    background-color: #d19857;
    background: 
    linear-gradient(135deg, transparent 15px, #d19857 0) top left, 
    linear-gradient(225deg, transparent 15px, #d19857 0) top right, 
    linear-gradient(315deg, transparent 15px, #d19857 0) bottom right, 
    linear-gradient(45deg, transparent 15px, #d19857 0) bottom left;
    background-size: calc(50% + 1px) calc(50% + 1px);
    background-repeat: no-repeat;
    height: 9rem;
    padding-left: 2%;
    padding-right: 2%;
}

.characteristics-title-box{
    display: flex;
    justify-content: space-evenly; 
    margin-top: -1.1rem;
}

.characteristics-title {
    background-color: #354456;
    background: 
    linear-gradient(135deg, transparent 12px, #354456 0) top left, 
    linear-gradient(225deg, transparent 12px, #354456 0) top right, 
    linear-gradient(315deg, transparent 12px, #354456 0) bottom right, 
    linear-gradient(45deg, transparent 12px, #354456 0) bottom left;
    background-size: calc(50% + 1px) calc(50% + 1px);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 0rem 5rem;
    font-size: 1.5rem;
    font-family: "refrigeratordeluxeregular";
}

.characteristics-value-box {
    justify-content: space-evenly;
}

.skill-divider {
    margin-top: 5rem;
}

.skill-tables-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
}

.skill-table {
    width: 48%;
}

.skill-head-title-row {
    margin: 2rem 0rem;
}

.skill-head-title-name {
    font-family: "refrigeratordeluxeregular";
    color: #656263;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.85rem 0rem;
}

.skill-head-title-char {
    font-family: "refrigeratordeluxeregular";
    color: #656263;
    font-weight: bold;
    width: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

.skill-head-title-pool {
    font-family: "refrigeratordeluxeregular";
    color: #656263;
    font-weight: bold;
    width: 8rem;
    text-align: center;
    font-size: 1.5rem;
}

.skill-tables-spacer {
    width: 4%;
}