.career-skill {
    max-height: 25px;
}

.skill-title {
    font-family: "refrigeratordeluxeregular";
    color: #656263;
    font-size: 1.7rem;
    overflow: hidden;
    white-space: nowrap;
    width: 15rem;
}

.skill-char {
    font-family: "refrigeratordeluxeregular";
    color: #656263;
    font-size: 1.7rem;
    text-align: center;
}

.pool-icon {
    max-height: 25px;
    margin: 0.1rem;
}