.divider-box {
    display: flex;
    justify-content: left;
}

.divider-title {
    text-align: left;
    color: #656263;
    font-size: 3rem;
    font-family: "refrigeratordeluxeregular";
}

.divider-separator-box {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    flex: 1 1 100%;
}

.divider-separator-title {
    color: #d19857;
    font-size: 1.9rem;
    font-family: "aurebeshmedium";
}

.divider-separator-line {    
    background-color: #656263;
    overflow: hidden;
    border-width: 3px;
    width: 100%;
    margin: 0rem;
}


/*d19857 orange*/

/*656263 gray*/