.characteristic-frame {
    background-color: #354456;
    background: 
    linear-gradient(135deg, transparent 10px, #354456 0) top left, 
    linear-gradient(225deg, transparent 10px, #354456 0) top right, 
    linear-gradient(315deg, transparent 10px, #354456 0) bottom right, 
    linear-gradient(45deg, transparent 10px, #354456 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    height: 100px;
}

.characteristic-title-box {
    background-color: #8aa8a4;
    background: 
    linear-gradient(135deg, transparent 5px, #8aa8a4 0) top left, 
    linear-gradient(225deg, transparent 5px, #8aa8a4 0) top right, 
    linear-gradient(315deg, transparent 5px, #8aa8a4 0) bottom right, 
    linear-gradient(45deg, transparent 5px, #8aa8a4 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    max-width: 80%;
    border-color: black;
    border-width: 20px;
}

.characteristic-title {
    text-align: center;
    color: white;
}

/*d19857 orange*/
/*8aa8a4 light blue*/