.margin-left-auto {
    margin-left: auto;
}

.margin-left {
    margin-left: 1rem;
}

.combat-desc-title {
    color: #656263;
}

.combat-desc-content {
    margin-left: 0.5rem;
    white-space: nowrap;
}

.combat-desc-content-dots {
    border-bottom: 0.07rem dotted black;
    width: 100%;    
}

.combat-desc-content-width {
    width: 100%;
    padding-right: 1rem;
}