.divider-box {
    display: flex;
    justify-content: left;
    width: 100%;
}

.divider-title {
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
}

.divider-title.main{
    font-size: 2rem;
}

.divider-title.sub{
    font-size: 1.2rem;
}

.divider-separator-box {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    flex: 1 1 100%;
}

.divider-separator-title {
    color: #d19857;
    
    font-family: "aurebeshmedium";
}

.divider-separator-title.main {
    font-size: 1.3rem;
}

.divider-separator-title.sub {
    font-size: 0.9rem;
}

.divider-separator-line {    
    background-color: #656263;
    overflow: hidden;    
    width: 100%;
    margin: 0rem;
}

.divider-separator-line.main {
    border-width: 3px;
}

.divider-separator-line.sub {
    border-width: 1px;
}


/*d19857 orange*/

/*656263 gray*/